:root {
    --white: #fff;
    --header-meno: #7C7A7C;
    --text-highLight: #ffbd39;
    --images-onHover: rgba(190, 133, 19, 0.6);
    --footer: #4E4E4E;
    --button: #ffbd39;
    --button-outLine: #1892ef;
    --box-background: #1A1A1A;
    --bar: #393939;
    --form: #F8F9FA;
    --input-border: #CED4DA;
    --footer-text: #ADADAD;
}