:root {
    --white: #fff;
    --header-meno: #7C7A7C;
    --text-highLight: #ffbd39;
    --images-onHover: rgb(255,189,57,0.7);
    --footer: #4E4E4E;
    --button: #ffbd39;
    --button-outLine: #1892ef;
    --box-background: #1A1A1A;
}