@import url(color.css);
@import url(font.css);
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 10px;
}

@keyframes move {
    0%{scale: 0.95; opacity: 0.2;}
    100%{scale: 1; opacity: 1;}
}

@keyframes transformm{
    0%{bottom: -10px;}
    100%{bottom: 0;}
}

body{
    width: 100%;
    min-height: 100vh;
    background-color: black;
}

header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 100;
    top: 0;
    background-color: black;
}

header .header--name{
    font-family:  "Segoe UI", "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-weight: 900;
    font-size: 2.4rem;
    padding: 16px 12px;
    color: #fff;
    letter-spacing: 1.6px;
}

header i {
    color: var(--header-meno);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
    padding-right: 12px;
    cursor: pointer;
}

.header--meno-text{
    color: var(--header-meno);
    font-family:  "Segoe UI", "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 1.6rem;
    font-weight: 600;
    font-style: normal;
    line-height: 16px;
    letter-spacing: 1.6px;
}

.header-menu{
    display: none;
}

@media screen and (min-width: 1200px){
    header{
        max-width: 1240px;
        left: 10%;
    }
    header i {
        display: none;
    }
    .header-menu{
        width: 60%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-right: 12px;
    }
    .header-menu span{
        font-family: 'Regular';
        font-size: 2rem;
        color: white;
        cursor: pointer;
    }

    .header-menu span:hover{
        color: var(--button);
        border-bottom: 1.5px solid var(--button);
    }
    .header-menu span:focus{
        color: var(--button);
        border-bottom: 1.5px solid var(--button);
    }
}