@import url(color.css);
@import url(font.css);

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 10px;
}

.Skills{
    max-width: 572px;
    display: flex;
    flex-direction: column;
    padding: 24px 12px;
    margin: 0 auto;
}

.Skills h1{
    width: 100%;
    font-family:  'Medium';
    font-weight: 800;
    font-size: 3.6rem;
    text-align: center;
    line-height: 40px;
    letter-spacing: 1.2px;
    color: #fff;
}

.Skills-explain{
    width: 100%;
    padding: 32px 0;
    font-family: 'Medium';
    font-size: 1.6rem;
    text-align: center;
    color: var(--header-meno);
}

.Skills__ranges-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.Skills-ranges{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.Skills-ranges p{
    width: 100%;
    display: flex;
    align-items: center;
    padding: 8px 0;
    position: relative;
}

.Skill-name{
    font-family: 'Medium';
    font-size: 2rem;
    color: var(--white);
}

.Skill-strenth{
    font-family: 'Medium';
    font-size: 2rem;
    color: var(--white);
    position: absolute;
    right: 10%;
}

.Skill-bar{
    width: 100%;
    height: 12px;
    border-radius: 4px;
    background-color: var(--bar);
}

.Skill-bar--fullfill{
    height: 12px;
    border-radius: 4px;
    background-color: var(--button);
}

.--with-p{
    width: 90%;
}
.--with-h{
    width: 95%;
}
.--with-c{
    width: 90%;
}
.--with-j{
    width: 50%;
}
.--with-r{
    width: 70%;
}

@media screen and (min-width: 768px){
    .Skills{
        max-width: 767px;
    }

    .Skills__ranges-container{
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    
    .Skills-ranges{
        width: 48%;
        display: flex;
        flex-direction: column;
    }
}

@media screen and (min-width: 1200px){
    .Skills{
        max-width: 1240px;
    }
}